{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Welcome |{{block.super}} {% endblock %}

<style>
{% block style %}
.navbar-static-top{
    margin-bottom: 0px;
    background-color:#B3D3D1;
}


.jumbotron {
    background-color:#B3D3D1;
    color:#fff;
{% endblock %}
</style>

{% block bl %}
<div class ="jumbotron">
<div class="container">
<div class="row">
	<div class = 'col-sm-6'>
      <!-- Main component for a primary marketing message or call to action -->
    <!-- <div class="jumbotron"> -->
    <h1>Inky-Pinky example</h1>
    <p>Poppy is the absolute best actress eva</p>
    <p>
    <a class="btn btn-lg btn-primary" href="" role="button">Subscribe&raquo;</a>
    </p>
    </div>
      <img src="{% static 'img/front_page_imgfix.png' %}" />/
</div>
</div> <!-- /container -->
</div>
</div>
{% endblock %}




{% block bl_content %}

<div class='col-sm-3'>
<!-- <p class ='lead text-align-center'>Always blonde</p> -->
<a class="navbar-brand" href="{%url 'Anime' %}">Anime</a>

</div>
<div class='col-sm-3'>
<a class="navbar-brand" href="{%url 'Animals' %}">Animals</a>
</div>
<div class='col-sm-3'>
<p class = 'lead text-align-center'>Weird as fuck</p>
</div>
</div>

{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-xs-3 pull-right">
		<p class='lead'>{{title}}</p>

		<form method='POST' action=''>{% csrf_token %}
		{{ form|crispy }}

		<input class ='btn btn-primary'  type = 'submit' value = 'Sign Up' />

		</form>
    </div>
</div>
</div>
{% endblock %}