body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color:#ff7f83;
}

.navbar-default .navbar-brand {
	 color: #FFF;
}

.navbar-default .navbar-brand:hover {
	color :#FFF;
}