body {
  min-height: 2000px;
}

.navbar-static-top{
 margin-bottom: 0px;
 background-color:#1aa3ff;
}


.navbar-default .navbar-brand {
	 color: #FFF;
}

.navbar-default .navbar-brand:hover {
	color :#FFF;
}